<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Editar Aluno</title>
</head>
<body>

    <h1>Editar Aluno</h1>
    
    <form method="POST">
        RA: <input type="text" name="ra" value="{{ aluno.ra }}"><br>
        Nome: <input type="text" name="nome" value="{{ aluno.nome }}"><br>
        Tempo Estudo: <input type="text" name="tempoestudo" value="{{ aluno.tempoestudo }}"><br>
        Renda Familiar: <input type="text" name="rendafamiliar" value="{{ aluno.rendafamiliar }}"><br>
        <button type="submit">Salvar Alterações</button>
    </form>

</body>
</html>
