<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="login_body">
        <div class="login-box">
            <h2>Diário de Bordo</h2>

            <!-- Exibe a mensagem de erro ou sucesso, se houver -->
            {% if mensagem %}
                <div class="error-message">
                    <p>{{ mensagem }}</p>
                </div>
            {% endif %}
            
            <form action="{{ url_for('login') }}" method="POST">
                <div class="input_box">
                    <input required type="text" name="ra" placeholder="informe o número do RA" maxlength="8" oninput="this.value = this.value.replace(/[^0-9]/g, '');">
                </div>           
                <div>
                    <button class="submit" type="submit">Entrar</button>
                </div>
            </form>

            <div>
                <div class="support">
                    <a href="{{ url_for('cadastro') }}">Cadastre-se</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
