<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylelista.css') }}">
    <title>Lista de Alunos</title>
</head>
<body>
     

    <div id="area_pesquisa">
      <form action="/pesquisara" method="post">
           digite o RA:  <input type="text" name="pesquisa_ra">
           <input type="submit" value="pesquisar">
      </form>
    </div>
    <h1>Lista de Alunos InovaTech</h1>
  
    {% if alunos %}
    <table border="1">
         <tr>
           <th>ra</th>
           <th>nome</th>
           <th>tempo estudo</th>
           <th>renda familiar</th>
           <th>ações</th> 
         </tr>
         {% for aluno in alunos %}
           <tr>
             <td>{{ aluno.ra }}</td>
             <td>{{ aluno.nome }}</td>
             <td>{{ aluno.tempoestudo }} horas</td>
             <td>R$ {{ aluno.rendafamiliar }}</td>
             <td>
                 <a href="{{ url_for('editar_aluno', id=aluno.id) }}">alterar</a> | 
                 <a href="#modal{{ aluno.id }}">remover</a> 
             </td>
           </tr>

           <!-- Modal para confirmar deleção -->
           <div id="modal{{ aluno.id }}" class="modal">
               <div class="modal-content">
                   <span class="close">&times;</span>
                   <h2>Confirmação</h2>
                   <p>Você tem certeza que deseja deletar este aluno?</p>
                   <a href="{{ url_for('remover_aluno', id=aluno.id) }}" class="modal-button confirm">Sim</a>
                   <a href="#" class="modal-button cancel">Não</a>
               </div>
           </div>
         {% endfor %}
    </table>
    {% else %}
        <p>Nenhum aluno cadastrado</p>
    {% endif %}
    
</body>
</html>
